@charset "UTF-8";/* 全体 */
body {
	background-color: #EFF0F7; /* 背景色  */
	text-align: center; /* 中央寄せ */
    min-width: 900px; /* 最小幅 */
    }
header{
	background: #483D8B;
	color: 	#EEEEEE;
	padding-top:10px ;
	padding-bottom:10px ;
}   
/* 表 */
table {
    margin: 40px auto;
    min-width: 500px;
    
}

.add,.edit{
	text-align: left;
}
.goal{
	border: 2px solid ;
	background-color: rgb(255, 255, 255); ;
	font-size: 30px;
	
	}
.addbutton{
	font-size: 30px;
	padding: 5px;
}
.addbutton{
	font-size: 15px;
	padding: 5px;
}

