<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ToDo追加画面</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header>
		<h1>ToDo追加</h1>
	</header>


	<div class="box">
		<button class="backbutton" type="button" onclick="history.back()">戻る</button>
	</div>
	<table>

		<form th:action="'/tasks/add?goal_id='+${goalId}" method="post">
			<input type="hidden" th:value="${goalId}" name="goal_id">
			<tr>
				<td class="additem">
					<input class="addtask" type="text" name="name" placeholder="目標を入力してください">
				</td>

				<td class="add">
					<button class="addbutton">登録</button>
				</td>
			</tr>
	</table>
</body>

</html>