<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>目標編集画面</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<header>
		<h1>目標編集</h1>
	</header>

	
		<div class="box">
			<input class="backbutton" type="button" onclick="location.href='/goals'" value="戻る">
		</div>
     <table>
		<tr>
			<td class="edititem">
				<form  th:action="'/goals/' + ${goal.id} + '/edit'" method="post">
					<input class="editgoal"  type="text" name="name" th:value="${goal.name}">
			</td>
			<td class="update">
				<button class="updatebutton">更新</button></form>
			</td>	
            <td class="delete">
				<form th:action="'/goals/ '+ ${goal.id} +'/delete'" method="post">
					<button class="deletebutton">削除</button>
				</form>
			</td>
		</tr>
	</table>


</body>

</html>