<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ToDo編集画面</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header>
		<h1>ToDo編集</h1>
	</header>
	<div class="box">
	<button class="backbutton" type="button" onclick="history.back()">戻る</button>
    </div>
	<table>
		<tr>
			<form th:action="@{/tasks/} + ${task.id} + @{/edit(goal_id=${goalId})}" method="post">
			
				<td class="edititem">
					<input type="hidden" th:value="${goalId}" name="goal_id">
					<input class="edittask" type="text" name="name" th:value="${task.name}">
				</td>

				<td class="edititem">
					<input type="hidden" th:value="${goalId}" name="goal_id">
					<input class="editnum" type="text" name="num" th:value="${task.num}">
				</td>
				<td class="update">
					<button class="updatebutton">更新</button>
				</td>
			</form>
			<td class="delete">
				<form th:action="@{/tasks/} + ${task.id} + @{/delete(goal_id=${goalId})}" method="post">
					<input type="hidden" th:value="${goalId}" name="goal_id">
					<button class="deletebutton">削除</button>
				</form>
			</td>
		</tr>
	</table>

</body>

</html>