<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ToDo編集画面</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header>
		<h1>ToDo編集</h1>
	</header>
	<button type="button" onclick="history.back()">戻る</button>

	<table border="1">
		<tr>
			<form th:action="@{/tasks/} + ${task.id} + @{/edit(goal_id=${goalId})}" method="post">
				<td>

					<input type="hidden" th:value="${goalId}" name="goal_id">
					<input type="text" name="name" th:value="${task.name}">
				</td>

				<td>
					<input type="hidden" th:value="${goalId}" name="goal_id">
					<input type="text" name="num" th:value="${task.num}">
				</td>
				<td>
					<button>更新</button>
				</td>
			</form>
			<td>
				<form th:action="@{/tasks/} + ${task.id} + @{/delete(goal_id=${goalId})}" method="post">
					<input type="hidden" th:value="${goalId}" name="goal_id">
					<button>削除</button>
				</form>
			</td>
		</tr>
	</table>

</body>

</html>