<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Todo一覧画面</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<header>
		<h1>ToDo一覧</h1>
	</header>
	
		<div class="box">
			<input class="backbutton" type="button" onclick="location.href='/goals'" value="戻る">
		</div>
		<table class="tasktable">
		<td class="add">
			<form th:action="'/tasks/add?goal_id='+${goalId}">
				<input type="hidden" th:value="${goalId}" name="goal_id">
				<button class="addbutton" >追加</button>
			</form>
		</td>
		<tr th:each="tasks:${tasks}">
			<td class="task" th:text="${tasks.name}"></td>
			<td class="tasknum" th:text="${tasks.num}+回達成"></td>
			<td class="edit">
				<form th:action="'/tasks/'+${tasks.id}+'/edit'" method="get">
					<input type="hidden" th:value="${goalId}" name="goal_id">
					<button class="addbutton">編集</button>
				</form>
			</td>
		</tr>


	</table>



</body>

</html>